.container{
    margin: 0px auto;
    min-width:100%;
    height: 100vh;
    box-sizing: border-box;
}

img {
    width: 107px;
    height: 49px;
}

.head {
    /* margin: 0px 80px; */
    position: relative;
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 15px 50px;
    
}

.content-1{
    width: 500px;
    /* background-color: white; */

}

.content-2{
    justify-content: space-evenly;
    /* background-color: aliceblue; */
    width: 500px;
    align-items: center !important;
}

.anticon svg {
    display: inline-block;
    width: 40px;
    height: 19px;
    align-items: center !important;
    cursor: pointer;
    position: relative;
    bottom: 6px;
}

.ant-card-bordered {
    border: 1px solid #f0f0f0;
    margin: 0px 80px !important;
}

.ant-btn-icon-only.ant-btn-lg {
    width: 40px;
    height: 40px;
    padding: 4.9px 0;
    font-size: 18px;
    border-radius: 2px;
    border: none;
}

.ant-dropdown-trigger {
    align-items: center;
    position: relative;
    left: 360px;
}

.search-button{
    position: relative !important;
    left: 180px !important;
    align-items: center !important;
    border: none !important;
    background: transparent !important;
}

.bell-button{
    position: relative !important;
    left: 200px !important;
    align-items: center !important;
}

.down-button{
    position: relative;
    width: 10px !important;
    height: 10px !important;
}

.ant-btn-icon-only.ant-btn-lg {
    width: 40px;
    height: 40px;
    padding: 4.9px 0;
    font-size: 18px;
    border-radius: 2px;
}

.container-2{
    background-color: #E8E8E8;
    height: 150px;
    padding: 25px 50px;
} 

.ant-breadcrumb ol {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 13px !important;
}
.BreadcrumbTitle{
    font-size: 25px;
    color: gray;
    font-weight: 600;
}

.container-3{
    background-color: #F4F5F9;
    height: 480px;
    position: relative;
    
}